<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
    <form th:object="${book}" th:action="@{/book_add/}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{image}"/>
        <h1>New Book Info</h1>
        <div>
            <div>
                <label>Book Title</label>
                <input type="text" th:field="*{title}">
            </div>

            <div>
                <label>Book Description</label>
                <input type="text" th:field="*{description}"/>
            </div>

            <div>
                <label>Year</label>
                <input type="number" th:field="*{year}"/>
            </div>

            <div>
                <label>EAN Number</label>
                <input type="number" th:field="*{EAN}"/>
            </div>

            <div>
                <select th:field="*{genre}">
                    <option th:each="genre : ${T(blue.bookapp.domain.Genre).values()}"
                            th:value="${genre.name()}"
                            th:text="${genre.name()}">values</option>
                </select>
            </div>
        </div>


        <button type="submit">Submit</button>

    </form>
</body>
</html>