<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pages</title>
</head>
<body>
<a href="#" th:href="@{'pages/new'}">Add new page</a>
<table>
    <tbody>
    <tr>
        <th>ID</th>
        <th>Page Number</th>
        <th>Content</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    <tr th:each="page : ${pages}">
        <td th:text="${page.getId()}">ID</td>
        <td th:text="${page.getPage()}">Page Number</td>
        <td th:text="${page.getContent()}">Content</td>
        <td><a href="#" th:href="@{'pages/'+${page.getId()} + '/update'}">Update</a></td>
        <td><a href="#" th:href="@{'pages/'+${page.getId()} + '/delete'}">Delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>