<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View Book</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/navbar.css" th:href="@{/css/navbar.css}" title="navbar">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<body>
<div id="tswcsstabs">
    <ul>
        <li><a href="/admin-control" style="background-color: #2EB1C7;">Home <i class="fas fa-home"></i></a></li>

        <li><a href="/admin-book-list" style="background-color: #2EB1C7;">Book List <i class="fas fa-book"></i></a></li>

        <li><a href="/admin-author-list" style="background-color: #2EB1C7;">Author List <i class="fas fa-address-book"></i></a></li>

        <li><a href="/admin-publisher-list" style="background-color: #2EB1C7;">Publisher List <i class="fas fa-lock"></i></a></li>

        <li><a href="/logout" style="background-color: #2EB1C7;">Logout <i class="fas fa-lock"></i></a></li>
        <br/>
    </ul>
    <p>hello</p>
</div>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Image</th>
        <th>Genre</th>
        <th>Year</th>
        <th>Date</th>
        <th  th:if="${book.getAuthor() != null}">Author Name</th>
        <th th:if="${book.getPublisher() != null}">Publisher Name</th>
        <th>EAN No.</th>
    </tr>
    <tr>
        <td th:text="${book.getId()}">ID</td>
        <td th:text="${book.getTitle()}">Title</td>
        <td th:text="${book.getDescription()}">Description</td>
        <td th:text="${book.getImage()}">Image</td>
        <td th:text="${book.getGenre()}">Genre</td>
        <td th:text="${book.getYear()}">Year</td>
        <td th:text="${book.getDate()}">Date</td>
        <td th:if="${book.getAuthor() != null}" th:text="${book.getAuthor().getName()}">Author Name</td>
        <td th:if="${book.getPublisher() != null}" th:text="${book.getPublisher().getName()}">Publisher Name</td>
        <td th:text="${book.getEAN()}">EAN</td>
    </tr>
</table>
</body>
</html>