<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link type="text/css" rel="stylesheet" href="../../static/css/navbar.css" title="navbar" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<style>
    .label {
        font-family: 'Proxima Nova Soft', Arial, Helvetica, sans-serif;
        color: #FFC738;
    }
</style>
<body th:style="'background:url(' + @{/images/admin-background.png} + ');
        height: 100%;
        background-size: 100vw 100vh;
        background-repeat: no-repeat;'">
<div id="tswcsstabs">
    <ul>
        <li><a href="home">Home <i class="fas fa-home"></i></a></li>

        <li><a href="list">Books <i class="fas fa-book"></i></a></li>

        <li><a href="contact">Contact <i class="fas fa-address-book"></i></a></li>

        <li><a href="admin-cpl">Admin <i class="fas fa-lock"></i></a></li>
        <br/>
    </ul>
</div>

<!-- formatting -->
<h1><b><span><span></span><br></span></b></h1>

<div>
    <center><br/><br/>
        <div id="login">
            <h1 style="color: #FFC738; font-family: Helvetica;">Admin Login</h1>
            <form th:object="${admin}" th:action="@{'/check'}" method="get">
                <input type="hidden" th:field="*{id}"/>
                <label class="label">Username</label>
                <br/>
                <input type="text" th:field="*{username}"/>
                <br/>
                <label class="label">Password</label>
                <br/>
                <input type="password" th:field="*{password}"/>
                <br/>
                <br/>
                <div>
                    <button type="submit">Submit <i class="fas fa-sign-in-alt"></i></button>
                </div>

            </form>
        </div>
    </center>

</div>

</body>
</html>