<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>list</title>
    <link type="text/css" rel="stylesheet" href="../../static/css/navbar.css" th:href="@{/css/navbar.css}" title="navbar">
  </head>
  <body background="/static/images/background.jpg" th:background="@{/images/background.jpg}" style="background-size:cover;">
    <div id="tswcsstabs">
      <ul>
        <li><a href="#" th:href="'home'">Home </a></li>
         
        <li><a href="#" th:href="'list'">&nbsp;&nbsp;List&nbsp;&nbsp;</a></li>
         
        <li><a href="#" th:href="'contact'">Contact</a></li>
          &emsp;
        <li><a href="#" th:href="'admin-cpl'">Admin</a></li>
         
      </ul>
    </div>
    <h1><b><span style="font-family: Imprint MT Shadow; color: #d6ff8c;">&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="color: #000099;">- Book List</span><br>
        </span></b></h1>
    <hr style="color: #2f5266;height:5px;border:1px solid black;background-color:black;margin:0;">


      <table style="float:left;">
        <tbody th:each="book : ${books}" style="float:right;border: 2px solid #98ebf1">
        <tr>
            <th><a th:href="@{'book/' + ${book.getId()} + '/info'}">
                <img src="../../../../../.bootstrapBookImages/book1.jpg"
                     th:src="@{'book/' + ${book.getId()} + '/bookimage'}" style="width:100px;length:150px;"/></a></th>
        </tr>
        <tr>
          <th><a th:text="${book.getTitle()}" href="#" th:href="@{'book/' + ${book.getId()} + '/info'}">John</a></th>
        </tr>
        <tr>
          <th><a th:text="${book.getDescription()}" href="#" th:href="@{'book/' + ${book.getId()} + '/info'}">Carter</a></th>
        </tr>
        </tbody>
      </table>
  </body>
</html>
