<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:style="'background:url(' + @{/images/background.jpg} + ');
        height: 100%;
        background-size: 100vw 100vh;
        background-repeat: no-repeat;'">
<p th:text="${page.getContent()}"></p>

<a href="#" th:href="@{'/book/' + ${book.getId()} + '/read/page/' + ${page.getPage() - 1}}"
    th:if="${page.getPage()-1 != 0}">Previous</a>

<a href="#" th:href="@{'/book/' + ${book.getId()} + '/read/page/' + ${page.getPage() + 1}}"
    th:if="${page.getPage()+1 <= book.getPages().size()}">Next</a>

</body>
</html>