<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Read Book</title>
    <link type="text/css" rel="stylesheet" href="/static/css/bookRead.css" th:href="@{/css/pagesList.css}"/>
    <link type="text/css" rel="stylesheet" href="../../static/css/navbar.css" th:href="@{/css/navbar.css}" title="navbar">
</head>
<body th:style="'background:url(' + @{/images/background.jpg} + ');
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;'">

<div id="tswcsstabs">
    <ul>
        <li><a href="/home">Home <i class="fas fa-home"></i></a></li>

        <li><a href="/list">Books <i class="fas fa-book"></i></a></li>

        <li><a href="/contact">Contact <i class="fas fa-address-book"></i></a></li><br/>
    </ul>
</div>

<center>
    <div class="page">
        <div>
            <h2 th:text="${page.getTitle()}" style="font-family: Georgia"></h2>
            <p th:text="${page.getContent()}" style="font-family: 'Book Antiqua'"></p>
            <p th:text="${page.getPage()}">1</p>
        </div>
    </div><br/>

    <a href="#" th:href="@{'/book/' + ${book.getId()} + '/read/page/' + ${page.getPage() - 1}}"
       th:if="${page.getPage()-1 != 0}" class="nav">Previous</a>

    <a href="#" th:href="@{'/book/' + ${book.getId()} + '/read/page/' + ${page.getPage() + 1}}"
       th:if="${page.getPage()+1 <= book.getPages().size()}" class="nav">Next</a>
</center>



</body>
</html>