<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:style="'background:url(' + @{/images/background.jpg} + ');
        height: 100%;
        background-size: 100vw 100vh;
        background-repeat: no-repeat;'">
<div class="container container-fluid">
    <div class="table table-responsive">
        <div class="panel panel-body">
            <img src="../../../../../.bootstrapBookImages/book1.jpg"
                th:src="@{'book/' + ${book.getId()} + '/bookimage'}" style="width:100px;length:150px;"/></a>
        </div>
    </div>
</div>
<p th:text="${book.getTitle()}"> Hey Dad </p>
<a href="#" th:text="'Read ' + ${book.getTitle()}" th:href="@{'/book/' + ${book.getId()} + '/read/page/1'}">Read</a>
</body>
</html>