<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Publisher</title>
</head>
<body>

    <form th:object="${publisher}" th:action="@{/publisher/}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{books}"/>
        <div>
            <div>
                <label>Name</label>
                <input type="text" th:field="*{name}"/>
            </div>
            <div>
                <label>City</label>
                <input type="text" th:field="*{city}"/>
            </div>
            <div>
                <label>Country</label>
                <input type="text" th:field="*{country}"/>
            </div>
        </div>

        <button type="submit">Submit</button>

    </form>

</body>
</html>