<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>home</title>
    <link type="text/css" rel="stylesheet" href="../static/css/navbar.css" th:href="@{/css/navbar.css}" title="navbar">
  </head>
  <body background="/static/images/background.jpg" th:background="@{/images/background.jpg}"  style="background-size:cover;">
    <div id="tswcsstabs">
      <ul>
        <li><a href="home">Home </a></li>
         
        <li><a href="list">&nbsp;&nbsp;List&nbsp;&nbsp;</a></li>
         
        <li><a href="contact">Contact</a></li>
         
      </ul>
    </div>
    <h1><b><span style="font-family: Imprint MT Shadow; color: #d6ff8c;">&nbsp;&nbsp;&nbsp;&nbsp;
          <span style="color: #000099;">- Contact</span><br>
        </span></b></h1>
    <hr style="color: #2f5266;height:5px;border:1px solid black;background-color:black;margin:0;">
  </body>
</html>
