<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Author</title>
</head>
<body>
    <form th:object="${author}" th:action="@{/author/}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{books}"/>
        <div>
            <div>
                <label>Name</label>
                <input type="text" th:field="*{name}"/>
            </div>
            <div>
                <label>Age</label>
                <input type="number" th:field="*{age}"/>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>
</html>